body {

  background-color: black;
   
}

.road {

	width:  100%;
	position: absolute;
	
	
}

#game {
   
   background-color: red;
   color: black;
   border: solid;
   border-style: inset;
   position: relative;
   width: 35%;
   float: right;
   padding-top: 50px;
   padding-bottom: 70px;
   top: 380px;
   right: 450px;

}
